$new: rgb(8, 134, 224);
$selected: rgb(147, 144, 144);

$black: #000;
$soft-black: #444;
$white: #fff;
$darker-gray: rgb(106, 105, 105);
$dark-gray: #b3b0b0;
$light-gray: #f5f4f4;
$lighter-gray: #fbfbfb;
$dark-green: #2E801A;
$teal: #108999;
$black-opaque: rgba(44, 60, 77, 0.98);
$light-teal: #0C9A89;
$white-light-opaque: #ffffffb1;
$bluish-black: #0f1420;

$font--xs: 1rem;
$font--small: 1.2rem;
$font--regular: 1.4rem;
$font--medium: 1.6rem;
$font--large: 1.8rem;
$font--xl: 2rem;

$fh--regular: 1.8rem;
$fh--medium: 2rem;
$fh--large: 2.2rem;
$fh--xl: 2.4rem;
$fh--2xl: 2.6rem;
$fh--3xl: 3rem;
$fh--4xl: 4rem;
$fh--5xl: 5rem;

$fw--thin: 100;
$fw--extra-light: 200;
$fw--light: 300;
$fw--regular: 400;
$fw--medium: 500;
$fw--semi-bold: 600;
$fw--bold: 700;
$fw--extra-bold: 800;
$fw--black: 900;

$shadow-dark: 0px 0px 8px 0px rgba(0,0,0,0.24);