@import "../../styles/variables";
// @import "../../styles/mixins";

.chat-main {
  position: relative;
  padding: 0 1rem 1rem 1rem;
  flex: 1;
  // height: 10rem;
  
  .container {
    // height: 85vh;
    height: 100%;
    background-color: $light-gray;
    overflow-y: auto;
  }
}

.chat-input {
  position: relative;
  padding: 1rem;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .emoji-container {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
    }

    form {
      width: 100%;
      display: flex;
      column-gap: 0.5rem;

      input {
        flex: 1;
      }

      button {
        width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}


