@import "../../styles/variables";
// @import "../../styles/mixins";

.chat-main {
  position: relative;
  padding: 0 1rem 1rem 1rem;
  flex: 1;
  overflow: hidden;
  
  .container {
    height: 100%;
    background-color: $light-gray;
    overflow: auto;

    .chat-messages {
      display: flex;
      flex-direction: column;
      

      .msg--row {
        display: flex;
        // justify-content: flex-end;

        .msg {
          display: flex;
          flex-direction: column;
          max-width: 40%;
          overflow-wrap: break-word;
          margin: 2rem;
          
          .content {
            min-width: 1rem;
            
            padding: 1rem;
            position: relative;
            // margin: 2rem;
          }
        }
      }
      

      .sent-by-you {
        justify-content: flex-end;

        .msg {
          background-color: lightblue;
        }
      }

      .received-by-you {
        justify-content: flex-start;

        .msg {
          background-color: burlywood;
        }
      }
    }
  }
}

.chat-input {
  position: relative;
  padding: 1rem;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .emoji-container {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
    }

    form {
      width: 100%;
      display: flex;
      column-gap: 0.5rem;

      input {
        flex: 1;
      }

      button {
        width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}


