@import "../../styles/variables";

.chat-main-header {
  padding: 1rem;
  z-index: 99;
  border-bottom: 1px solid $light-gray;

  .container {
    height: 2.4rem;
    
    .contact {
      display: flex;
      align-items: center;
      column-gap: 1rem;
    }
  }
}

